* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: #d7ded3;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

section {
  border-radius: 1rem;
  background-color: #fff;
  padding: 7rem 2rem;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
}

.drum__content {
  margin-bottom: 6rem;
}

.drum__title {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.drum__text {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.drum__cta {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #406a29;
}

.drum__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.drum__gallery > * {
  width: calc(50% - 2rem);
  aspect-ratio: 1/1;
  border-radius: 5px;
}

.drum__img {
  object-fit: cover;
}

.drum__gallery div:nth-of-type(1) {
  background-color: #d0e1bb;
}

.drum__gallery div:nth-of-type(2) {
  background-color: #bbc8ec;
  display: none;
}

@media only screen and (min-width: 37.5em) {
  section {
    padding: 7rem 4rem;
  }

  .drum__gallery > * {
    width: calc(34.1% - 2rem);
  }

  .drum__gallery div:nth-of-type(2) {
    display: block;
  }

  .drum__gallery {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 64em) {
  section {
    display: flex;
    justify-content: space-between;
    padding: 7rem;
  }

  .drum__content {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .drum__cta {
    margin-bottom: 0;
    margin-top: auto;
  }

  .drum__gallery {
    flex: 1;
    justify-content: flex-end;
  }

}
